Package: ws.hbang.newterm
Name: NewTerm
Depends: firmware (>= 8.0), bash, coreutils, ncurses, system-cmds, ws.hbang.common (>= 1.9)
Version: 2.0
Architecture: iphoneos-arm
Description: A powerful terminal emulator for iOS
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Support: https://www.hbang.ws/faq/
Section: Terminal Support
