<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>Version 1.0 beta 1
© 2013–2014, HASHBANG Productions</string>
			<key>label</key>
			<string>NewTerm</string>
		</dict>
		<dict>
			<key>footerAlignment</key>
			<integer>0</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Based on Mobile Terminal by Allen Porter
Contains code from iTerm</string>
		</dict>
		<dict>
			<key>footerAlignment</key>
			<integer>0</integer>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>NewTerm is a work in progress. If you find any issues, please report them on GitHub.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openGitHubIssues</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>GitHub Issues</string>
		</dict>
	</array>
	<key>title</key>
	<string>About</string>
</dict>
</plist>
