<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anonymous Pro</key>
	<dict>
		<key>regular</key>
		<string>AnonymousPro</string>
		<key>bold</key>
		<string>AnonymousPro-Bold</string>
		<key>italic</key>
		<string>AnonymousPro-Italic</string>
		<key>boldItalic</key>
		<string>AnonymousPro-BoldItalic</string>
	</dict>
	<key>Cascadia Code</key>
	<dict>
		<key>regular</key>
		<string>CascadiaCode-Roman</string>
		<key>bold</key>
		<string>CascadiaCode-Roman_Bold</string>
	</dict>
	<key>Courier</key>
	<dict>
		<key>regular</key>
		<string>Courier</string>
		<key>bold</key>
		<string>Courier-Bold</string>
	</dict>
	<key>Courier New</key>
	<dict>
		<key>regular</key>
		<string>CourierNewPSMT</string>
		<key>bold</key>
		<string>CourierNewPS-BoldMT</string>
	</dict>
	<key>Fira Code</key>
	<dict>
		<key>regular</key>
		<string>FiraCode-Retina</string>
		<key>bold</key>
		<string>FiraCode-Bold</string>
	</dict>
	<key>Fixedsys Excelsior</key>
	<dict>
		<key>regular</key>
		<string>FixedsysExcelsiorIIIb</string>
		<key>bold</key>
		<string>FixedsysExcelsiorIIIb</string>
	</dict>
	<key>Hack</key>
	<dict>
		<key>regular</key>
		<string>Hack-Regular</string>
		<key>bold</key>
		<string>Hack-Bold</string>
	</dict>
	<key>Inconsolata</key>
	<dict>
		<key>regular</key>
		<string>Inconsolata-Regular</string>
		<key>bold</key>
		<string>Inconsolata-Regular_Bold</string>
	</dict>
	<key>Inconsolata Condensed</key>
	<dict>
		<key>regular</key>
		<string>Inconsolata-Regular_Condensed-Regular</string>
		<key>bold</key>
		<string>Inconsolata-Regular_Condensed-Bold</string>
	</dict>
	<key>Inconsolata Expanded</key>
	<dict>
		<key>regular</key>
		<string>Inconsolata-Regular_Expanded-Regular</string>
		<key>bold</key>
		<string>Inconsolata-Regular_Expanded-Bold</string>
	</dict>
	<key>JetBrains Mono</key>
	<dict>
		<key>regular</key>
		<string>JetBrainsMono-Regular</string>
		<key>bold</key>
		<string>JetBrainsMono-Bold</string>
		<key>italic</key>
		<string>JetBrainsMono-Italic</string>
		<key>boldItalic</key>
		<string>JetBrainsMono-BoldItalic</string>
	</dict>
	<key>Menlo</key>
	<dict>
		<key>regular</key>
		<string>Menlo-Regular</string>
		<key>bold</key>
		<string>Menlo-Bold</string>
	</dict>
	<key>SF Mono</key>
	<dict>
		<key>systemMonospaceFont</key>
		<true/>
	</dict>
	<key>Source Code Pro</key>
	<dict>
		<key>regular</key>
		<string>SourceCodePro-Regular</string>
		<key>bold</key>
		<string>SourceCodePro-Bold</string>
	</dict>
	<key>Ubuntu Mono</key>
	<dict>
		<key>regular</key>
		<string>UbuntuMono-Regular</string>
		<key>bold</key>
		<string>UbuntuMono-Bold</string>
		<key>italic</key>
		<string>UbuntuMono-Italic</string>
		<key>boldItalic</key>
		<string>UbuntuMono-BoldItalic</string>
	</dict>
</dict>
</plist>
