<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Terminal</string>
	<key>CFBundleExecutable</key>
	<string>MobileTerminal</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon</string>
		<string>icon@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>icon-ios7-40</string>
		<string>icon-ios7</string>
	</array>
	<key>CFBundleIconFiles~ipad</key>
	<array>
		<string>icon~ipad</string>
		<string>icon@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-72</string>
		<string>Icon-Small-50</string>
		<string>icon-ios7~ipad</string>
		<string>icon-ios7-40</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>ws.hbang.Terminal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MobileTerminal</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Regular.ttf</string>
		<string>SourceCodePro-Bold.ttf</string>
		<string>DejaVuSansMono.ttf</string>
		<string>DejaVuSansMono-Bold.ttf</string>
		<string>MesloLGM-Regular.ttf</string>
		<string>MesloLGM-Bold.ttf</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleBlackTranslucent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
