<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Terminate and re-open NewTerm to completely apply color scheme changes.</string>
			<key>label</key>
			<string>Interface</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>SourceCodePro-Regular</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fontName</string>
			<key>label</key>
			<string>Font</string>
			<key>validTitles</key>
			<array>
				<string>Courier</string>
				<string>DejaVu Sans Mono</string>
				<string>Meslo</string>
				<string>Source Code Pro</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Courier</string>
				<string>DejaVuSansMono</string>
				<string>MesloLGM-Regular</string>
				<string>SourceCodePro-Regular</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fontSizePhone</string>
			<key>label</key>
			<string>Size</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<false/>
				</dict>
			</array>
			<key>validTitles</key>
			<array>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
			</array>
			<key>validValues</key>
			<array>
				<real>11</real>
				<real>12</real>
				<real>13</real>
				<real>14</real>
				<real>15</real>
				<real>16</real>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<real>18</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fontSizePad</string>
			<key>label</key>
			<string>Size</string>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<true/>
				</dict>
			</array>
			<key>validTitles</key>
			<array>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
			</array>
			<key>validValues</key>
			<array>
				<real>11</real>
				<real>12</real>
				<real>13</real>
				<real>14</real>
				<real>15</real>
				<real>16</real>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>kirb</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>theme</string>
			<key>label</key>
			<string>Color Scheme</string>
			<key>validTitles</key>
			<array>
				<string>Basic</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Basic</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>AboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>About</string>
		</dict>
	</array>
	<key>title</key>
	<string>Settings</string>
</dict>
</plist>
