<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basic</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>127</integer>
			<integer>127</integer>
			<integer>127</integer>
		</array>
		<key>Dark</key>
		<false/>
		<key>Font</key>
		<string>Meslo</string>
		<key>Text</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Grass</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>19</integer>
			<integer>119</integer>
			<integer>61</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>255</integer>
			<integer>176</integer>
			<integer>59</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>142</integer>
			<integer>40</integer>
			<integer>0</integer>
		</array>
		<key>Dark</key>
		<false/>
		<key>Font</key>
		<string>Courier</string>
		<key>Text</key>
		<array>
			<integer>255</integer>
			<integer>240</integer>
			<integer>165</integer>
		</array>
	</dict>
	<key>Homebrew</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>0</integer>
			<integer>255</integer>
			<integer>0</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>56</integer>
			<integer>254</integer>
			<integer>39</integer>
		</array>
		<key>Dark</key>
		<true/>
		<key>Font</key>
		<string>Meslo</string>
		<key>Text</key>
		<array>
			<integer>19</integer>
			<integer>119</integer>
			<integer>61</integer>
		</array>
	</dict>
	<key>kirb</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>15</integer>
			<integer>15</integer>
			<integer>15</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>0</integer>
			<integer>217</integer>
			<integer>0</integer>
		</array>
		<key>Dark</key>
		<true/>
		<key>Font</key>
		<string>Source Code Pro</string>
		<key>Text</key>
		<array>
			<integer>242</integer>
			<integer>242</integer>
			<integer>242</integer>
		</array>
	</dict>
	<key>Man Page</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>254</integer>
			<integer>244</integer>
			<integer>156</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>127</integer>
			<integer>127</integer>
			<integer>127</integer>
		</array>
		<key>Dark</key>
		<false/>
		<key>Font</key>
		<string>Meslo</string>
		<key>Text</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Novel</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>223</integer>
			<integer>219</integer>
			<integer>195</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>127</integer>
			<integer>42</integer>
			<integer>25</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>58</integer>
			<integer>35</integer>
			<integer>34</integer>
		</array>
		<key>Dark</key>
		<false/>
		<key>Font</key>
		<string>Courier</string>
		<key>Text</key>
		<array>
			<integer>59</integer>
			<integer>35</integer>
			<integer>34</integer>
		</array>
	</dict>
	<key>Ocean</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>34</integer>
			<integer>79</integer>
			<integer>188</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>127</integer>
			<integer>127</integer>
			<integer>127</integer>
		</array>
		<key>Dark</key>
		<true/>
		<key>Font</key>
		<string>Courier</string>
		<key>Text</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
	</dict>
	<key>Pro</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>77</integer>
			<integer>77</integer>
			<integer>77</integer>
		</array>
		<key>Dark</key>
		<true/>
		<key>Font</key>
		<string>Source Code Pro</string>
		<key>Text</key>
		<array>
			<integer>242</integer>
			<integer>242</integer>
			<integer>242</integer>
		</array>
	</dict>
	<key>Red Sands</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>122</integer>
			<integer>37</integer>
			<integer>30</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>223</integer>
			<integer>189</integer>
			<integer>34</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>Dark</key>
		<true/>
		<key>Font</key>
		<string>Meslo</string>
		<key>Text</key>
		<array>
			<integer>215</integer>
			<integer>201</integer>
			<integer>167</integer>
		</array>
	</dict>
	<key>Silver Aerogel</key>
	<dict>
		<key>Background</key>
		<array>
			<integer>128</integer>
			<integer>128</integer>
			<integer>128</integer>
		</array>
		<key>BoldText</key>
		<array>
			<integer>255</integer>
			<integer>255</integer>
			<integer>255</integer>
		</array>
		<key>Cursor</key>
		<array>
			<integer>217</integer>
			<integer>217</integer>
			<integer>217</integer>
		</array>
		<key>Dark</key>
		<false/>
		<key>Font</key>
		<string>Meslo</string>
		<key>Text</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
</dict>
</plist>
