<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Basic</key>
	<dict>
		<key>Background</key>
		<string>#ffffff</string>
		<key>BoldText</key>
		<string>#000000</string>
		<key>Cursor</key>
		<string>#7f7f7f</string>
		<key>IsDark</key>
		<false/>
		<key>Text</key>
		<string>#000000</string>
	</dict>
	<key>Grass</key> <!-- tastes badddd -->
	<dict>
		<key>Background</key>
		<string>#13773d</string>
		<key>BoldText</key>
		<string>#ffb03b</string>
		<key>Cursor</key>
		<string>#8e2800</string>
		<key>IsDark</key>
		<false/>
		<key>Text</key>
		<string>#fff0a5</string>
	</dict>
	<key>Homebrew</key>
	<dict>
		<key>Background</key>
		<string>#000000</string>
		<key>BoldText</key>
		<string>#00ff00</string>
		<key>Cursor</key>
		<string>#38fe27</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#13773d</string>
	</dict>
	<key>kirb</key>
	<dict>
		<key>Background</key>
		<string>#0f0f0f</string>
		<key>BoldText</key>
		<string>#ffffff</string>
		<key>Cursor</key>
		<string>#00d900</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#f2f2f2</string>
	</dict>
	<key>Man Page</key>
	<dict>
		<key>Background</key>
		<string>#fef49c</string>
		<key>BoldText</key>
		<string>#000000</string>
		<key>Cursor</key>
		<string>#7f7f7f</string>
		<key>IsDark</key>
		<false/>
		<key>Text</key>
		<string>#000000</string>
	</dict>
	<key>Novel</key>
	<dict>
		<key>Background</key>
		<string>#dfdbc3</string>
		<key>BoldText</key>
		<string>#7f2a19</string>
		<key>Cursor</key>
		<string>#3a2322</string>
		<key>IsDark</key>
		<false/>
		<key>Text</key>
		<string>#3b2322</string>
	</dict>
	<key>Ocean</key>
	<dict>
		<key>Background</key>
		<string>#224fbc</string>
		<key>BoldText</key>
		<string>#ffffff</string>
		<key>Cursor</key>
		<string>#7f7f7f</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#ffffff</string>
	</dict>
	<key>Pro</key>
	<dict>
		<key>Background</key>
		<string>#000000</string>
		<key>BoldText</key>
		<string>#ffffff</string>
		<key>Cursor</key>
		<string>#4d4d4d</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#f2f2f2</string>
	</dict>
	<key>Red Sands</key>
	<dict>
		<key>Background</key>
		<string>#7a251e</string>
		<key>BoldText</key>
		<string>#dfbd22</string>
		<key>Cursor</key>
		<string>#ffffff</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#d7c9a7</string>
	</dict>
	<key>Silver Aerogel</key>
	<dict>
		<key>Background</key>
		<string>#808080</string>
		<key>BoldText</key>
		<string>#ffffff</string>
		<key>Cursor</key>
		<string>#d9d9d9</string>
		<key>IsDark</key>
		<false/>
		<key>Text</key>
		<string>#000000</string>
	</dict>
	<key>VSCode</key>
	<dict>
		<key>Background</key>
		<string>#1e1e1e</string>
		<key>BoldText</key>
		<string>#cccccc</string>
		<key>ColorTable</key>
		<array>
			<string>#000000</string>
			<string>#cd3131</string>
			<string>#0dbc79</string>
			<string>#e5e510</string>
			<string>#2472c8</string>
			<string>#bc3fbc</string>
			<string>#11a8cd</string>
			<string>#e5e5e5</string>
			<string>#666666</string>
			<string>#f14c4c</string>
			<string>#23d18b</string>
			<string>#f5f543</string>
			<string>#3b8eea</string>
			<string>#d670d6</string>
			<string>#29b8db</string>
			<string>#e5e5e5</string>
		</array>
		<key>Cursor</key>
		<string>#0dbc79</string>
		<key>IsDark</key>
		<true/>
		<key>Text</key>
		<string>#ffffff</string>
	</dict>
</dict>
</plist>
