Package: ws.hbang.newtermfonts
Name: NewTerm Fonts Add-on
Depends: ws.hbang.newterm2 (>= 2.5)
Breaks: ws.hbang.newterm2 (<< 2.5)
Version: 1.0
Architecture: iphoneos-arm
Description: Optional extra fonts for NewTerm
Maintainer: HASHBANG Productions <support@hbang.ws>
Author: HASHBANG Productions <support@hbang.ws>
Section: Terminal Support
Icon: https://chariz.com/cdn/icon/newterm-fonts/icon@3x.png
Depiction: https://chariz.com/get/newterm-fonts
Support: https://hashbang.productions/support/
Tag: compatible_min::ios10.0
