<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INTERFACE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Fira Code</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>HBNTPreferencesFontPickerListController</string>
			<key>key</key>
			<string>fontName</string>
			<key>label</key>
			<string>FONT</string>
			<key>validTitles</key>
			<array>
				<string>Anonymous Pro</string>
				<string>Cascadia Code</string>
				<string>Courier</string>
				<string>Courier New</string>
				<string>Fira Code</string>
				<string>Fixedsys Excelsior</string>
				<string>Hack</string>
				<string>Inconsolata</string>
				<string>Inconsolata Condensed</string>
				<string>Inconsolata Expanded</string>
				<string>JetBrains Mono</string>
				<string>Menlo</string>
				<string>SF Mono</string>
				<string>Source Code Pro</string>
				<string>Ubuntu Mono</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Anonymous Pro</string>
				<string>Cascadia Code</string>
				<string>Courier</string>
				<string>Courier New</string>
				<string>Fira Code</string>
				<string>Fixedsys Excelsior</string>
				<string>Hack</string>
				<string>Inconsolata</string>
				<string>Inconsolata Condensed</string>
				<string>Inconsolata Expanded</string>
				<string>JetBrains Mono</string>
				<string>Menlo</string>
				<string>SF Mono</string>
				<string>Source Code Pro</string>
				<string>Ubuntu Mono</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>fontSizePhone</string>
			<key>label</key>
			<string>FONT_SIZE_N</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>10</real>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<false/>
				</dict>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>16</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>fontSizePad</string>
			<key>label</key>
			<string>FONT_SIZE_N</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>10</real>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<true/>
				</dict>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>kirb</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>HBNTPreferencesListItemsController</string>
			<key>key</key>
			<string>theme</string>
			<key>label</key>
			<string>COLOR_SCHEME</string>
			<key>validTitles</key>
			<array>
				<string>Basic</string>
				<string>Basic (Dark)</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
				<string>VSCode</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Basic</string>
				<string>Basic (Dark)</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
				<string>VSCode</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SAMPLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBNTTerminalSampleTableCell</string>
			<key>detail</key>
			<string>HBNTTerminalSampleViewController</string>
			<key>isController</key>
			<true/>
			<key>height</key>
			<integer>150</integer>
			<key>label</key>
			<string>SAMPLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>INPUT</string>
			<key>footerText</key>
			<string>TRACKPAD_EXPLANATION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>HBNTPreferencesListItemsController</string>
			<key>key</key>
			<string>keyboardAccessoryStyle</string>
			<key>label</key>
			<string>KEYBOARD_STYLE</string>
			<key>validTitles</key>
			<array>
				<string>KEYBOARD_STYLE_TEXT</string>
				<string>KEYBOARD_STYLE_ICONS</string>
			</array>
			<key>shortTitles</key>
			<array>
				<string>KEYBOARD_STYLE_TEXT_SHORT</string>
				<string>KEYBOARD_STYLE_ICONS_SHORT</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>HBNTPreferencesListItemsController</string>
			<key>key</key>
			<string>keyboardTrackpadSensitivity</string>
			<key>label</key>
			<string>TRACKPAD_SENSITIVITY</string>
			<key>validTitles</key>
			<array>
				<string>TRACKPAD_SENSITIVITY_OFF</string>
				<string>TRACKPAD_SENSITIVITY_LOW</string>
				<string>TRACKPAD_SENSITIVITY_MEDIUM</string>
				<string>TRACKPAD_SENSITIVITY_HIGH</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BELL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>bellHUD</string>
			<key>label</key>
			<string>BELL_HUD</string>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>bellVibrate</string>
			<key>label</key>
			<string>BELL_VIBRATE</string>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
			<key>requiredCapabilities</key>
			<array>
				<string>DeviceSupportsHaptics</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>bellSound</string>
			<key>label</key>
			<string>BELL_SOUND</string>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBNTPreferencesAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>SETTINGS</string>
</dict>
</plist>
