<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>INTERFACE_FOOTER</string>
			<key>label</key>
			<string>INTERFACE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>Fira Code</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fontName</string>
			<key>label</key>
			<string>FONT</string>
			<key>validTitles</key>
			<array>
				<string>Courier</string>
				<string>Courier New</string>
				<string>Fira Code</string>
				<string>Hack</string>
				<string>Menlo</string>
				<string>Source Code Pro</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Courier</string>
				<string>Courier New</string>
				<string>Fira Code</string>
				<string>Hack</string>
				<string>Menlo</string>
				<string>Source Code Pro</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>12</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>fontSizePhone</string>
			<key>label</key>
			<string>FONT_SIZE_N</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>10</real>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<false/>
				</dict>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>16</real>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>fontSizePad</string>
			<key>label</key>
			<string>FONT_SIZE_N</string>
			<key>max</key>
			<real>20</real>
			<key>min</key>
			<real>10</real>
			<key>requiredCapabilities</key>
			<array>
				<dict>
					<key>ipad</key>
					<true/>
				</dict>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>kirb</string>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>theme</string>
			<key>label</key>
			<string>COLOR_SCHEME</string>
			<key>validTitles</key>
			<array>
				<string>Basic</string>
				<string>Basic (Dark)</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
				<string>VSCode</string>
			</array>
			<key>validValues</key>
			<array>
				<string>Basic</string>
				<string>Basic (Dark)</string>
				<string>Grass</string>
				<string>Homebrew</string>
				<string>kirb</string>
				<string>Man Page</string>
				<string>Novel</string>
				<string>Ocean</string>
				<string>Pro</string>
				<string>Red Sands</string>
				<string>Silver Aerogel</string>
				<string>VSCode</string>
			</array>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SAMPLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>HBNTTerminalSampleTableCell</string>
			<key>detail</key>
			<string>HBNTTerminalSampleViewController</string>
			<key>isController</key>
			<true/>
			<key>height</key>
			<integer>150</integer>
			<key>label</key>
			<string>SAMPLE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BELL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>bellHUD</string>
			<key>label</key>
			<string>BELL_HUD</string>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>ws.hbang.Terminal</string>
			<key>key</key>
			<string>bellSound</string>
			<key>label</key>
			<string>BELL_SOUND</string>
			<key>PostNotification</key>
			<string>ws.hbang.Terminal/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>HBNTPreferencesAboutListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>ABOUT</string>
		</dict>
	</array>
	<key>title</key>
	<string>SETTINGS</string>
</dict>
</plist>
